<h2>Edit Cookbook Note</h2>
<form action="/notes/<%= @note.id %>" method="post">

  <textarea name="content" rows="8" cols="80" contenteditable="true"><%= @note.content %></textarea>

  <input type="submit" value="Save Changes">
</form>
