<h2>Welcome to Your Notes Page</h2>
<h4>Here are all of your notes:</h4>
<% Note.all.each do |note| %>
  <li><i><%= note.content %></i></li>
  <form action="/notes/<%= note.id %>/delete" method="post">
    <input type="hidden" name="_method" value="delete">
    <input type="submit" value="Delete">
  </form>
  <br>
<% end %>
<br>
<form action="/notes/new" method="get">
  <button type="submit">Add a New Note</button>
</form>
<form action="/cookbooks" method="get">
  <button type="submit">Back to Cookbooks</button>
</form>
