<h2>Welcome to Your Notes Page</h2>
<h4>Here are all of your notes:</h4>

<% @user.cookbooks.each do |cookbook| %>
<br>
  <b><em><%= cookbook.cookbook_name if !cookbook.notes.empty? %></em></b>
    <% cookbook.notes.each do |note| %>

      <li><%= note.content %></li>

      <form action="/notes/<%= note.id %>/edit" method="get">
        <input type="submit" value="Edit This Note">
      </form>

      <form action="/notes/<%= note.id %>/delete" method="post">
        <input type="hidden" name="_method" value="delete">
        <input type="submit" value="Delete">
      </form>
      <br>
  <% end %>
<% end %>
<br>
<form action="/cookbooks" method="get">
  <input type="submit" value="Back to Cookbooks">
</form>
<form action="/logout" method="get">
  <input type="submit" value="Logout">
</form>
