<h2>Sign Up for Cookbook Notes!</h2>
<h4>Please enter a username, email and password:</h4>

<form action="/login" method="post">
  <label>Username:</label><input type="text" name="username">
  <br>
  <label>Email:</label><input type="text" name="email">
  <br>
  <label>Password:</label><input type="password" name="password">
  <br>
  <br>
  <input type="submit" name="submit">
</form>
