<h2>Log in to Cookbook Notes</h2>
<h4>Please enter your username and password:</h4>
<br>
<form action="/login" method="post">
  <input type="text" name="username" placeholder="Username">
  <input type="text" name="password" placeholder="Password">
  <input type="submit" name="submit">
</form>
