<h2>Welcome to Your Cookbooks Page!</h2>
<br>

<h4><%= @message %></h4>

<br>
<% if !@cookbooks.empty? %>
  <% @cookbooks.each do |cookbook| %>
    <i><a href="/cookbooks/<%= cookbook.id %>"><%= cookbook.cookbook_name %></a></i>
    <br>
  <% end %>
<% end %>
<br>
<form action="/cookbooks/new" method="get">
  <button type="submit">Add a New Cookbook</button>
</form>
<form action="/notes" method="get">
  <button type="submit">View All Notes</button>
</form>
<form action="/logout" method="get">
  <button type="submit" name="logout">Logout</button>
</form>
