<h2>Add a New Cookbook</h2>

<form action="/cookbooks" method="post">
  <label>Cookbook Name:</label>
  <br><br>
  <input type="text" name="cookbook_name" style="background-color:#b5b1b1" autofocus>
  <br>
  <input type="submit" value="Add Cookbook" style="background:none; border:none; color:inherit">
</form>
<br><br>
<form action="/cookbooks" method="get">
  <input type="submit" value="Cancel" style="background:none; border:none; color:inherit">
</form>
