<h2>Add a New Cookbook</h2>

<form action="/cookbooks/new" method="post">
  <label>Cookbook Name:</label><input type="text" name="cookbook_name">
  <button type="submit" name="submit">Add Cookbook</button>
</form>
