<h2>Add a New Cookbook</h2>

<form action="/cookbooks" method="post">
  <label>Cookbook Name:</label><input type="text" name="cookbook_name" autofocus>
  <input type="submit" value="Add Cookbook">
</form>
<form action="/cookbooks" method="get">
  <input type="submit" value="Cancel">
</form>
