<h2><%= @cookbook.cookbook_name %></h2>

<h4>Here are your notes for this cookbook:</h4>

<% @notes.each do |note| %>
  <li><%= note.content %></li>

  <form action="/notes/<%= note.id %>/edit" method="get">
    <input type="submit" value="Edit This Note">
  </form>
  <form action="/notes/<%= note.id %>/delete" method="post">
    <input type="hidden" name="_method" value="delete">
    <input type="submit" value="Delete This Note">
  </form>

<br><br>
<% end %>
<form action="/cookbooks" method="get">
  <button type="submit">Back to Cookbooks</button>
</form>
