<h2><%= @cookbook.cookbook_name %></h2>
<br>
<form action="/cookbooks" method="get">
  <button type="submit">Back to Cookbooks</button>
</form>
<br>
<h4>Here are your notes for this cookbook:</h4>
<% @notes.each do |note| %>
  <%= note.content %>
  <a href="/notes/<%= note.id %>/edit">Edit This Note</a>
  <br>
<% end %>
