<!-- this is the log in or sign up page -->

<h2>Welcome to Cookbook Notes!</h2>
<p>Cookbook Notes is an easy and convenient way to keep track of all your notes and changes to the recipes in your cookbooks!</p>
<br>
<form action="/login" method="get">
  <button type="submit" name="login">Login</button>
</form>
<br>
<form action="/signup" method="get">
  <button type="submit" name="signup">Sign Up</button>
</form>
