<!-- this is the log in or sign up page -->
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Cookbook Notes</title>
  </head>
  <body>
    <h2>Welcome to Cookbook Notes!</h2>
    <p>Cookbook Notes is an easy and convenient way to keep track of all your notes and changes to the recipes in your cookbooks!</p>
  </body>
</html>
