<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Cookbook Notes</title>
  </head>
  <body>
    <% yield %>
    <% if logged_in? || current_page?('users/login') %>
    <form action="/logout" method="get">
      <button type="submit" name="logout">Logout</button>
    </form>
    <% else %>
    <form action="/login" method="get">
      <button type="submit" name="login">Login</button>
    </form>
    <form action="/signup" method="get">
      <button type="submit" name="signup">Sign Up</button>
    </form>
    <% end %>
  </body>
</html>
