<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Cookbook Notes</title>
  </head>
  <body style="background-color:#3d3c3c; color:#f1e0cf; text-align:center">
    <%= yield %>
    <br>
    <br>
  </body>
</html>
