<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Cookbook Notes</title>
  </head>
  <body>
    <%= yield %>
    <br>
    <br>
    <!-- add code to remove 'logout' button on the sign up and log in page -->
    <% if logged_in? %>
      <form action="/logout" method="get">
        <button type="submit" name="logout">Logout</button>
      </form>
    <% end %>
  </body>
</html>
